{% extends 'base.html' %}
{% block title %} Delete {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center mt-2 mb-5">Delete Post</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <div>
            <span class="fs-4">Are you sure you want to delete your post:</span>
            <span class="fs-5"><b>"{{post_to_delete.post_title}}"</b></span>
        </div>
        <div class="mt-3">
            <form action="/blog/delete/{{post_to_delete.post_slug}}" method="post">
            <a href="/blog/myposts/"><button class="btn btn-info text-white px-4" type="button">Cancel</button></a>
                {% csrf_token %}
                <button class="btn btn-danger px-4 ms-3" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}